---
---

/* FRONTPAGE WIDGETS CUSTOMIZATION
------------------------------------------------------------------- */

.frontpage-widget {
  .img-faux-crop {
    height: 160px;
    overflow: hidden;
  }
  .text-block {
    color: #fff;
    background-color: #263238;
    padding: 10px;

    h2 {
        color: #fff;
    }

    .buttons-block {
      margin-bottom: 0px;
    }
  }
}

.exec-aside {
  background-color: #263238;

  .img-faux-crop {
    height: 160px;
    overflow: hidden;
  }

  .text-block {
    padding: 10px;

    h3 {
      margin-top: 10px;
      color: #fff;
    }
    color: #fff;
  }

  .buttons-block {
    padding: 10px;
  }

}



.frontpage-widget {
  @media only screen and (max-width: 700px){
    margin-bottom: 10px;
  }
}
// main header on mobile

h1.site-title {
  @media only screen and (max-width: 700px){
    font-size: 1.8em;
  }
}

h2.site-subtitle {
  @media only screen and (max-width: 700px){
    font-size: 1.2em;
  }
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.frontpage-widget {
  .category-anchor {
    transition: all 0.2s ease;
    padding: 0 10px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;

    a {
      color: white;
    }

    &:hover {
      background: white;

      a {
        color: #E53935;
      }
    }
  }
}

.exec-aside {
  .category-anchor {
    transition: all 0.2s ease;
    padding: 0 10px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;

    a {
      color: white;
    }

    &:hover {
      background: white;

      a {
        color: #E53935;
      }
    }
  }
}

// MAIN CATS COLORS

$cat-abroad: #E53935;
$cat-art: #D81B60;
$cat-books: #8E24AA;
$cat-crossed: #F4511E;
$cat-culture: #3949AB;
$cat-ew: #1E88E5;
$cat-fields: #00897B;
$cat-it: #FB8C00;
$cat-blogs: #6D4C41;
$cat-exec: #5E35B1;
$cat-syrians: #546E7A;



.abroad {
  background: $cat-abroad;

}

.art {
  background: $cat-art;

}

.books {
  background: $cat-books;

}

.crossed {
  background: $cat-crossed;

}

.culture {
  background: $cat-culture;

}

.ew {
  background: $cat-ew;

}

.fields {
  background: $cat-fields;

}

.it {
  background: $cat-it;

}

.blogs {
  background: $cat-blogs;

}

.exec {
  background: $cat-exec;

}

.exec-text {
  color: $cat-exec;

}

.syrians {
  background: $cat-syrians;

}

.syrians-text {
  color: $cat-syrians;
}


// MAIN MENU
.top-bar {

  .top-bar-section {
    ul {
      li {
        a {
          background-size: 100% 200% !important;
          background-image: linear-gradient(to bottom, white 50%, #263238 50%) !important;
          transition: all 0.3s !important;

          &.abroad {
            background-image: linear-gradient(to bottom, white 50%, $cat-abroad 50%) !important;

          }
          &.art {
            background-image: linear-gradient(to bottom, white 50%, $cat-art 50%) !important;

          }
          &.books {
            background-image: linear-gradient(to bottom, white 50%, $cat-books 50%) !important;

          }
          &.crossed {
            background-image: linear-gradient(to bottom, white 50%, $cat-crossed 50%) !important;

          }
          &.culture {
            background-image: linear-gradient(to bottom, white 50%, $cat-culture 50%) !important;

          }
          &.ew {
            background-image: linear-gradient(to bottom, white 50%, $cat-ew 50%) !important;

          }
          &.fields {
            background-image: linear-gradient(to bottom, white 50%, $cat-fields 50%) !important;

          }
          &.it {
            background-image: linear-gradient(to bottom, white 50%, $cat-it 50%) !important;

          }
          &.blogs {
            background-image: linear-gradient(to bottom, white 50%, $cat-blogs 50%) !important;

          }

          &:hover {
            background-position: 0 -100% !important;
            color: white !important;
          }
        }
      }
    }
  }
}


p{
  direction: rtl;
}

article #page-meta p{
    direction: ltr;
}

article.non-arabic p {
  direction: ltr;
}
